
// Large devices (desktops, less than 1200px)
@media only screen and (max-width: 1200px) { 
    .navbar-container {
        .navbar-brand {
        margin: auto;
        margin-bottom: 10px;
            h1 {

            font-size: 11rem;
        }
        }
        ul {
            margin-top: 10px;
        
            }
         
        .navbar-cartWidget {
        display: flex;
        margin-right: 40px;
        margin-top: 17px;
        font-size: 1rem;
        }
    
    }
 }
 // Medium devices (tablets, less than 992px)
 @media only screen and (max-width: 992px) { 
    .navbar-container {
        .navbar-brand {
            padding-right: 0px;
            margin: auto;
            h1 {

            font-size: 8.5rem;
        }
        }
        ul {
            margin-top: 10px;
        
            }
         
        .navbar-cartWidget {
        margin-top: 17px;
        margin-right: 25px;
        font-size: 1rem;
        }
    
    }
  }



// Small devices (landscape phones, less than 768px)
@media only screen and (max-width: 768px) { 
    .navbar-container {
        .navbar-brand {
        padding-right: 0px;
        margin: auto;
            h1 {

            font-size: 6.4rem;
        }
        }
        ul {
            margin-top: 10px;
        
            }
         
        .navbar-cartWidget {
            margin-top: 16px;
            padding-left: 0px;
        }
    
    }

 }


// X-Small devices (portrait phones, less than 576px)
@media only screen and (max-width: 576px) {
    .navbar-container {
        display: flex;
        flex-direction: column;
        .navbar-brand {
            padding-right: 0px;
            h1 {

            font-size: 4.5rem;
        }
        }
        ul {
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            justify-content: left;
            justify-items: left;
           
            }
         
        .navbar-cartWidget {
          margin-top: 10px;
          padding-left: 0px;
          padding-right: 56px;
        }

    }
 }


// Iphone 12 mini, Samsung S20 (portrait phones, less than 414px)
@media only screen and (max-width: 414px) {
    .navbar-container {
        display: flex;
        flex-direction: column;
        .navbar-brand {
            padding-right: 0px;
            h1 {

            font-size: 4rem;
        }
        }
        ul {
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            justify-content: left;
            justify-items: left;
           
            }
         
        .navbar-cartWidget {
            margin-top: 10px;
            padding-left: 0px;
            padding-right: 55px;
        }

    }
 }

// Iphone 12 mini, Samsung S20 (portrait phones, less than 360px)
@media only screen and (max-width: 360px) {
    .navbar-container {
        display: flex;
        flex-direction: column;
        .navbar-brand {
            padding-right: 0px;
            h1 {

            font-size: 3.8rem;
        }
        }
        ul {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            justify-content: left;
            justify-items: left;
           
            }
        li {
            padding-top: 5px;
        }
         
        .navbar-cartWidget {
       
            margin-top: 15px;
            padding-left: 0px;
            padding-right: 55px;
        }

    }
 }