.itemListContainer-container {
width: 96%;
margin: 0 auto;
.greetings-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.itemList-container {
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
   justify-items: center;
}
}