.navbar-container {
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 1px 7px 11px 3px rgba(235,212,212,0.85);
    -webkit-box-shadow: 1px 7px 11px 3px rgba(235,212,212,0.85);
    -moz-box-shadow: 1px 7px 11px 3px rgba(235,212,212,0.85);
    a:link, a:visited, a:active {
        text-decoration:none;
    }
    .navbar-brand {
    .only {
        color: #00AFF0;
    }
    .dogs {
        color: #008CCF;
    }
        h1 {
        cursor: pointer;
        font-family: $font-primary;
        font-size: 6.6rem;
    }
    }
    
    ul {
    list-style: none;
    margin-left: 5px;
    margin-right: 5px;

    }

    li {
    display: inline;
    padding: 0px 5px 0px 5px;
    font-size: 1.5rem;
    
    }


    .navbar-menu {
        
        .noActive {
            color: #ADB6BF;
        }
}
    .navbar-cartWidget {
        display: inline;
        padding: 1px;
    }

}